<h1 align="center">
  ABOUT PAGE
</h1>


<div class="container">
  <div class= "col-sm-4">
    <div class= "categories">
      <div align="center">
      <%= link_to "Categories", categories_path, class: "btn btn-success btn-lg btn-xlarge" %>
      </div>
    </div>
  </div>

  <div class= "col-sm-4">
    <div class= "articles">
      <div align="center">
      <%= link_to "Articles", articles_path, class: "btn btn-success btn-lg btn-xlarge" %>
      </div>
    </div>
  </div>
  <div class= "col-sm-4">
    <div class= "users">
      <div align="center">
      <%= link_to "Users", users_path, class: "btn btn-success btn-lg btn-xlarge" %>
    </div>
  </div>
</div>
</div>


